 /* NOTES
////////////////
/////COLORS/////
////////////////

dullGreen: #61892F
brightGreen: #86C232
darkGrey: #222629
lighterGrey: #474B4F
lightestGrey: #6B6E70

////////////////////
/////COLORS END/////
////////////////////

///////////////
/////FONTS/////
///////////////
HTML: 
<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Montserrat:wght@500&display=swap" rel="stylesheet">

CSS: 
font-family: 'DM Serif Display', serif;
font-family: 'Montserrat', sans-serif;

///////////////////
/////FONTS END/////
///////////////////
*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    line-height: 1.25em;
    background-color: #222629;
    color: rgb(202, 202, 202);
}

button:hover {
    cursor: pointer;
}

main {
    padding: 30px;
}

h1, h2 {
    text-align: center;
    font-family: 'DM Serif Display', serif;
    color: #86C232;

}

h1 {
    font-size: 2em;
    line-height: 1.25em;
}

h2 {
    font-size: 1.65em;
    line-height: 1.15em;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: column;
    border: 1px solid #6B6E70;
    padding: 20px;
}

.banner-image {
    width: 256px;
    height: 256px;
    margin: auto;
}

/*#region container*/
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ro-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    border: solid 1px #6B6E70;
    padding: 10px;
}

.r0-readout {
    display: flex;
    flex-direction: column;
    width: 256px;
    height: 256px;
    font-family: 'DM Serif Display', serif;
    background-color: #A9A6A7;
    color: #222629;
    margin: auto;
    padding: 5px;
    text-align: center;
    border-radius: 20%;
}

.description {
    width: 50%; 
}

#js-r0-number {
    font-size: 100px;
    height: 90%;
    margin-top: 40px;
}
/*#region state-block*/

.state-block {
    margin: 15px auto;
}

#js-form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.search-term {
    width: 100%;
    height: 40px;
    font-size: 32px;
    text-align: center;
    margin: 3px auto;
}

.js-search-state {
    width: 100%;
    height: 40px;
    font-size: 18px;
    margin: 3px auto;
    border-radius: 5px;
}

#js-pick-state {
    width: 50%;
    height: 40px;
    align-self: center;
    border-radius: 10%;
    margin: 3px auto;
    background-color: #86C232;
    color: #222629;
    font-family: 'DM Serif Display', serif;
    font-size: 1em;
}

/*#endregion state-block*/

/*#region data readout*/

.data-readout {
    display: flex;
    flex-direction: column;
}

.js-state-name {
    margin: 10px;
    color: #86C232;
}

/*#region data block*/

.data-block {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}

.data-last, .data-current, .future-block {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    border: 1px solid black;
    border-radius: 10%;
    justify-content: center;
    font-size: 22px;
    margin: 10px auto;
}

.data-last p, .data-current p, .future-block p {
    text-align: center;
}

.future-block {
    display: flex;
    flex-direction: column;
}

.data-seven-day, .data-fourteen-day {
    margin: 0px auto;
    width: 100%;
}

.data-seven-day {
    border-bottom: 1px solid black;
}

.data-fourteen-day {
    border-top: 1px solid black;
}

/*#endregion data block*/

/*#endregion data block*/

/*#endregion container*/

@media screen and (min-width: 800px) {
    .present-block {
        display: flex;
        flex-direction: row;
    }    

    .data-last, .data-current, .future-block {
        margin: 10px;
    }
}

@media screen and (min-width: 1024px) {
    .data-block {
        display: flex;
        flex-direction: row;
    }
}